*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: cursive;
}
.container{
    text-align: center;
}
h1{
    padding: 15px;
    font-size: 35px;
    color: rgb(231, 132, 1);
}
.inputContainer{
    display: flex;
    justify-content: center; 
    margin-top: 10px; 
}
#inputBox, .btn{
    padding:17px 14px;
    border: none;
    box-shadow: 0 2px 11px rgba(0,0,0,0.3);
}
#inputBox{
    width: 400px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px ;
}
#inputBox::placeholder{
    font-size: 16px;
}
.btn{
    background-color: green;
    color: #fff;
    font-size: 16px;
    width: 100px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px ;
}
.randomBtn{
    width: 200px;
    border: none;
    margin-top: 20px;
    font-size: 16px;
    color: #fff;
    background-color: rgb(231, 132, 1);
    padding: 12px;
    border-radius: 5px;
    box-shadow: 0 2px 11px rgba(0,0,0,0.3);
}
.mainContainer{
    display: grid;
    grid-template-columns:repeat(auto-fit,minmax(320px,1fr));
    gap: 35px;
    margin: 0 100px;
    margin-top: 45px;
    place-items: center;
}
.recipe{
    box-shadow: 0 10px 7px rgba(0,0,0,0.3);
    border-radius: 12px;
}
.recipe img{
    border-radius: 12px;
    width: 100%;  
}
h3{
    padding: 30px;
}
.overlay{
    display: none;
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(3px);
    z-index: 10;
}
.popup {  
 display: none;
  overflow-y: auto;    
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  width: 90%;
  max-width: 50%;
  max-height: 99vh;
  overflow-y: auto;
  padding: 20px;
  border-radius: 10px;
  z-index: 20;
}
body.no-scroll{
    overflow: hidden;
}
.close {
  background-color: #fff;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  border: none;
  font-size: 30px;
  margin-right: 10px;
}
.popupContainer h1{
    text-align: center;
}
.popupContainer h3{
   border-bottom: 5px solid rgb(38, 94, 38);
}
.popupContainer img{
    border-radius: 5px;
    width: 100%;
}
.ingre{
    margin-top: 10px;
    color: gray;
}
.instraction{
    color: gray;
}
.popupContainer a{
    color: green;
}

@media (max-width:500px){
    .mainContainer{
        margin-left: 12px;
        margin-right: 12px;
    }
}