body,html{
    padding: 0;
    margin: 0;
    width: 100%;
    box-sizing: border-box;
}
nav{
    width: 100%;
    background-color: #2d4c50;
    box-shadow: 0 7px 10px rgba(0,0,0,0.3);
    color: #fff;
}
.headerContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
h3{
    letter-spacing: 2px;
    font-size: 2.2rem;
}
.inputBox, .btn{
    padding: 10px 20px;
    border-radius: 5px;
    max-width: 400px;
    border: none;
    font-size: 18px;
}
.btn{
    color: #fff;
    background-color: #138065;
    cursor: pointer;
    margin-left: 10px;
}
.mainContainer{
    display: grid;
    grid-template-columns: auto auto auto;
    margin: 100px;
}
.boxContent{
    border: 1px solid;
    margin-bottom: 20px;
    border-radius: 8px;
    margin-right: 20px;
    padding: 20px;
    /* height:50%;
    width: 50%; */
}
.boxContent img{
    border-radius: 30px;
    width: 100%;
    padding: 10px;
    height: 250px;
    object-fit: cover;
}
@media (max-width:500px){
    h3{
        font-size: 24px;
    }
    .inputBox{
        width: 90px;
        font-size: 11px;
    }
}